.App {
  text-align: center;
}

.content-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
